[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "bundle/vim-headerguard"]
	path = bundle/vim-headerguard
	url = https://github.com/drmikehenry/vim-headerguard.git
[submodule "bundle/jshint2.vim"]
	path = bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "bundle/vim-jsdoc"]
	path = bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "bundle/rust.vin"]
	path = bundle/rust.vin
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/ejs-syntax"]
	path = bundle/ejs-syntax
	url = https://github.com/nikvdp/ejs-syntax.git
[submodule "bundle/yajs.vim"]
	path = bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
